<div class="container">

    <div class="route-page">
        <a href="/homepage">Trang Chủ </a>>
        {{!-- <a href="/{{brand}}">{{brand}} </a> > --}}
        <a style="text-transform:capitalize">{{pack.product_name}}</a>
    </div>

    <div class="main__content content">

        <div class="content__left">
            <div class="carousel detail-container slide" id="carouselControls" data-ride="carousel">
                <div class="detail-img carousel-inner" id="detail-img">
                        {{!-- {{#each item.image}} --}}
                        
                        <div class="carousel-item active"> 
                            <img src="../../img/firstpic.jpg">
                        </div>
                        {{!-- {{/each}} --}}
                        <a class="carousel-control carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                        
                </div>
            </div>
        </div>
        <div class="content__right">

            <div class="content__right--name right--item">
                 <span style="text-transform:capitalize">Tên sách: {{pack.product_name}}</span>
            </div>
            <div class="content__right--author right--item">
                 <span style="text-transform:capitalize">Tác giả: {{pack.author}}</span>
            </div>
            <div class="content__right--stock right--item">
                 <span style="text-transform:capitalize">Còn hàng: {{pack.stock}}</span>
            </div>
            <div class="content__right--quantity right--item">
                 <span style="text-transform:capitalize">Số lượng: {{pack.stock}}</span>
            </div>
            <div class="content__right--button right--item">
                 <button type="button">
                    Mua Ngay
                </button>
            </div>
        </div>

    </div>
</div>